@font-face {
  font-family: UBU400;
  src: url("../fonts/Ubuntu-Regular.ttf") format('truetype');
}

@font-face {
  font-family: UBU700;
  src: url("../fonts/Ubuntu-Bold.ttf") format('truetype');
}

@font-face {
  font-family: UBU500;
  src: url("../fonts/Ubuntu-Medium.ttf") format('truetype');
}

